/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*this is where the css reset ends*/

h1{
  font-family: Helvetica, Arial, san-serif;
  font-size: 20px;
  color: #e60000;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  text-transform: lowercase;
}
img.logo{
  height:65px;
  width:65px;
  margin-top: 13px;
  margin-left: 220px;
}
body{
  background:rgba(230, 230, 230, .4);
  height: 100%;
}

.header {
  padding:0;
  margin:0;
  height:150px;
  width:100%;
  background:#fff;
  border:1px;
  border-color:rgba(255, 247, 230, .8);
}
/*this makes a centered horizontal nav(!)*/

ul.bar{
    text-align:center;
    height:20px;
    width: 100%;
    background: #000;
    color: #fff;
    padding-top: 5px;
}
.bar li{ 
    position:relative;
  /*  float:right;*/
    display:inline;
    font-family: Arial, Verdana, san-serif;
    font-size:13px;
    list-style:none;
   /* margin-right:20px;*/
}
.topNav li{
    display:inline;
    padding:20px;
    text-transform:uppercase;
    font-family: Arial, Verdana, san-serif;
    font-style:bold;
}
ul.topNav{
    list-style:none;
}
.search{
    float:right;
    margin-right:225px;
    margin-top: 35px;
} 
.leftnav{
    display:block;
    position:absolute;
    height:458px;
    width:160px;
    margin: 50px 0 0 220px;
    padding: 10px;
    line-height:20px;
    border: 1px solid rgba(128, 128, 128, .5);
    list-style:none;
    font-family: Arial, Verdana, san-serif;
    font-size: 14px;
    letter-spacing: 1px;
}
ul.leftnav{
    width: 200px;
    background: #f1f1f1;
  }
.hero{
  position:relative;
  float:right;
  margin-right:225px;
  margin-top:50px;

}
.carousel{
    width:650px;
    height: 522px;
    margin-left: 402px;
    margin-top: -523px;
    border:1px solid black;
    border-color:#efefef;
}
ol {
  font-size: 80%;
}

a {
  display: inline;
  text-align: center;
  font-family: arial;
  margin:: 0 auto;
  width: 85%;
  list-style: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a:link {
    color: #000;
}

a:visited {
    color: #008000;
}

a:hover {
    color: dark blue;
}

a:active {
    color: blue;
}
.clearfix:both {
     visibility:hidden;
     display:block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }



